[submodule "chapter_5/5_7_pratt_operator_precedence_parser/python_demo/pratt-parsing-demo"]
	path = chapter_5/5_7_pratt_operator_precedence_parser/python_demo/pratt-parsing-demo
	url = git@github.com:sci-42ver/pratt-parsing-demo.git
